.checkbox-container {
  color: $off-white;
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: $big-size;
  cursor: pointer;
  font-weight: 500;
  font-size: $base-size;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    &:checked {
      ~ {
        .checkmark {
          background-color: darken($purple, 10%);
          &:after {
            display: block;
          }
        }
      }
    }
  }
  &:hover {
    input {
      ~ {
        .checkmark {
          background-color: $purple;
        }
      }
    }
  }
  .checkmark {
    &:after {
      left: 7px;
      top: 2px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  &:after {
    content: "";
    position: absolute;
    display: none;
  }
}
