html {
  font-size: 62.5%;
}

body {
  background: $dark-blue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: $base-size;
}

button {
  cursor: pointer;

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }
}
