// Colors
$blue: #3c4251;
$dark-blue: #333745;
$light-blue: #464b5e;
$off-black: #20222b;
$off-white: #a5afd7;
$purple: #8357c5;
$white: #fff;

// Spacing
$small-size: 1.2rem;
$base-size: 1.6rem;
$big-size: 3.2rem;
$extra-size: 4.8rem;
